# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=m4jdsuh2
NEXT_PUBLIC_CLOUDINARY_API_KEY=373628324751471
CLOUDINARY_API_SECRET=rKHUTsReQfbhBMX-J3QGxMogQvk

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyClV-w-de_6iQBR4IVy6MXv18ag1CrJGGM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=revio-b6e27.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=revio-b6e27
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=revio-b6e27.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=26604781159
NEXT_PUBLIC_FIREBASE_APP_ID=1:26604781159:web:abeeb81beba502961c9ec2